.base-btn{
    color: #FFF;
    font-weight: bold;
    font-family: var(--font-family-nunito);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-1);
    border: none;
    height: 48px;
    transition: 0.4s ease;
    cursor: pointer;
}

.base-btn:hover{
    background-color: var(--color-primary-2);
}

.base-btn-grey{
    font-weight: bold;
    font-family: var(--font-family-nunito);
    background-color: var(--grey-2);
    border-radius: var(--border-radius-1);
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}

.base-btn-grey:hover{
    background-color: var(--grey-3);
    color: #FFF;
}

.home-btn{
    width: 241px;
    margin-top: 27.2px;
    font-weight: 500;
}

.header-btn{
    width: 64px;
    height: 40px;
}

.trash-btn{
    background: none;
    border: none;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

.filter-btn{
    display: flex;
    width: 69px;
    height: 40px;
    align-items: center;
    justify-content: center;
}


