.base-input{
    height: 3rem;
    color: var(--grey-4);
    padding: .7rem;
    border-radius: var(--border-radius-1);
}

.base-input::placeholder{
    color: #868E96;
}

.small-form-input{
    width: 9.375rem;
}

.small-form-input2{
    width: 8rem;
}