.home-container{
    width: 100%;
    max-width: 1200px;
    max-height: 100%;
    min-height: 100%;
    margin: auto;
    padding: 6.25rem;
    display: flex;
    background-color: var(--grey-4);
}

.description-home{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.nu_logo{
    width: 7.625rem;
    height: 1.3rem;
    margin-bottom: 1.875rem;
}

.description-home h1{
    font-size: var(--font-size-title);
    font-weight: 800;
    color: var(--grey-1);
    margin-bottom: 1.875rem;

}

.description-home small{
    font-size: var(--font-size-4);
    color: var(--grey-1);
}

figure{
    width: 50%;
}

img{
    width: 100%;
    height:auto;
}

@media (max-width: 800px){
    .home-container{
        flex-direction: column;
        width: 100%;
        max-width: 900px;
        height: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }

    figure{
        display: none;
    }

}

@media (max-width: 785px){

    .home-container{
        width: 100%;
        max-width: 550px;
        height: 100%;
    }

    .description-home{
        width: 100%;
        max-width: 640px;
    }

  
}